@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(210, 60%, 98%);
    width: 100%;
}

.notification-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 25px;
    color: hsl(224, 21%, 14%);
    font-weight: 800;
}

.notification-count {
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    height: 30px;
    width: 35px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: 10px;
}

.mark-as-read {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: hsl(219, 12%, 42%);
    font-weight: 500;
}

.mark-as-read:hover {
    cursor: pointer;
}

.mark-as-read-pointer {
    position: relative;
    left: -100px;
    top: 10px;
    display: none;
}

.first-tournament-cursor {
    position: relative;
    left: -120px;
    top: 5px;
    display: none;
}

.angela-cursor {
    position: relative;
    left: -190px;
    top: 10px;
    display: none;
}

.chess-pointer {
    position: relative;
    left: -65px;
    top: 5px;
    display: none;
}

.inner-pointer{
    position: relative;
    left: -105px;
    top: 30px;
    display: none;
}

.notifications-container {
    max-width: 800px;
    height: auto;
    margin: 1.5rem auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 0rem 2rem;
}

.row:nth-child(-n+4) .notification-column {
    background-color: hsl(210, 60%, 98%);
    margin: 0.3rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.notification-column {
    margin: 0.3rem 0;
    padding: 0.3rem;
    border-radius: 10px;
}

.notification-content {
    display: flex;
    align-items: center;

}

.bullet-point {
    color: #304977;
    font-weight: 700;
}

.row:nth-of-type(2) .notification-text .bullet-point {
    color: hsl(219, 12%, 42%);
}

.row:nth-of-type(3) .notification-text .bullet-point {
    color: #7C7E85;
    font-weight: 500;
}

.row:nth-of-type(4) .notification-text .bullet-point {
    color: #3C5989;
}

.row:nth-of-type(7) .notification-text .bullet-point {
    color: hsl(219, 12%, 42%);
    font-weight: 700;
}

.row:nth-child(-n+4) .notification-text .bullet-point::after {
    content: "\2022";
    font-size: 1.5em;
    color: red;
    margin-left: 5px;
    vertical-align: baseline
}

.notification-content .notification-text {
    margin-left: 10px;
}

.span-reaction {
    color: #7C7E85;
    font-weight: 500;
}

.time-stomp {
    color: hsl(219, 14%, 63%);
    font-family: "Plus Jakarta Sans", sans-serif;
    letter-spacing: 0;
}

.private-message {
    margin: 0.5rem 5rem;
    border-radius: 5px;
    border: 1px solid #E4E8EB;
    padding: 1rem;
    width: 90%;
    /* background-color: #E5EFF9; */
}

.chest-image-container {
    display: flex;
    justify-content: end;
}

.chess-image {
    height: 55px;
    display: block;
}

.user-avatar {
    height: 65px;
    padding: 0.5rem;
}

.coded-by-span {
    color: hsl(224, 21%, 14%);;
}

.coded-by-link {
    color: #ffffff;
}    

.coded-by-text {
    padding: 15px 15px;
    border: unset;
    border-radius: 15px;
    color: hsl(224, 21%, 14%);;
    z-index: 1;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    overflow: hidden;
}

.coded-by-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: hsl(224, 21%, 14%);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.coded-by-text:hover {
    color: #fff;
}

.coded-by-text:hover::before {
    width: 100%;
}


/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {

    
.notifications-container {
    max-width: 800px;
    height: auto;
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 0rem 2rem;
}

.private-message {
    width: 80%;
}

}

